<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49238681515-c8c8pitu5olp3b6qvpdm217nigbhehlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49238681515-c8c8pitu5olp3b6qvpdm217nigbhehlv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>49238681515-d32ch0g50lgv77fhtcfd6eftt3676rqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBO6VmKDB1xqrMMKc02sb92XKEtc_lVtrU</string>
	<key>GCM_SENDER_ID</key>
	<string>49238681515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimttoios.Optik</string>
	<key>PROJECT_ID</key>
	<string>dimtto</string>
	<key>STORAGE_BUCKET</key>
	<string>dimtto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49238681515:ios:2fbfd6da689513f40794ee</string>
	<key>DATABASE_URL</key>
	<string>https://dimtto.firebaseio.com</string>
</dict>
</plist>